@import url("sub/header.css");


body {
    /*background: #E4E4E4;*/
    background: url(../resources/body-tail.gif) repeat top center;
    font-size: 110%;
    font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
    height:100%;
    width:100%;
    padding:0;
    margin:0;
}

.bg {
    position:absolute;   
    display:block;
    background: url(../resources/body-light.png) center top no-repeat;
    top:0;
    left:0;
    min-height: 100%;
    width:100%;
    z-index:-1;
}
.main {
    width: 980px;
    padding: 0;
    margin: 0 auto;
    display:block;
    position:relative;

}

.main-block {
    margin:0;
    padding:10px;
    width:100%;
    display:block;
    background:#FFF;
    border: 1px solid #EEE;
    font-family:"Trebuchet MS";

}

.main-block .main-header {
    font-size:16px;
    padding: 0px 4px 10px 4px;
    line-height:20px;
    font-weight:300;
    display:inline-block; 
}

.main-block .main-text {
    text-transform: uppercase;
    vertical-align: middle;

}

.main-block div.borderdot {
    border: 1px gray dotted;
    margin-bottom:10px
}

.main-block span {
   
    padding-left:7px;
}

.main-block .main-text img {
    padding-right:5px;

    position:relative;
}
.main-block table {
    border:none;

}

.main-block td {
    vertical-align: middle
}

.main-block tr {
    border:none;
}

.submit-button {
    padding: .1em 1em; text-decoration: none; 
}

img 
{  
    border-style: none;
}

#overview-content
{
    display:block;    
    width: 100%;
    position: relative;
    z-index: 1;

} 

.container-bg {

    width:100%;
    min-height:150px;
    /*border-bottom: 1px solid #CBCBCB;
    border-top: 1px solid #CBCBCB;*/

    display:inline-block;

}


.left {

    background:#8EC1DA;
    border-bottom:solid 5px #8EC1DA;

}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.container-header {

    width:100%; 
    height:22px; 
    color:#393D42;
    font-weight:bold;
    font-size: .9em;
    line-height: 1.4615em;
    font-family: Arial;
}

.container-header img {
    position:relative;

}


.left .container-header {
    background: #8EC1DA; 
    color:#F0F0F0;
}

ul.tags {
    color:#111;
    display: inline;
    margin:0;
    padding:0;
    font-size:10px;


}

.tags li{
    padding:5px;
    background:#555;
    color:#FFF;
    border-radius:5px;
    display: inline;
    margin:5px 5px 5px 0;
}



ul.status-list {
    color:#111;
    text-shadow: 1px 1px 3px #DDD;

}

.status-list li{
    padding:5px 5px 5px 25px;
    background-position:  0 5px;
    background-repeat: no-repeat;
}


.status-list li.caution {


    font-weight:bold;
    background-image:url(../resources/icons/caution-icon-small.png);
}
.status-list li.infor {

    background-image:url(../resources/icons/icons_0018_Twitter-T-small.png);
}

.status-list li.question {
    font-style:italic;
    background-image:url(../resources/question-icon-small.png);
}

.status-list li.danger {

    background-image:url(../resources/icons/flame-icon-small.png);
    text-transform: uppercase;
    font-weight:bold;
}

.status-list li.correct {
    font-weight:bold;
    background-image:url(../resources/icons/icons_0045_Check-small.png);

}
.status-list li.wrong {

    background-image:url(../resources/blocked3-icon-small.png);

}



#footer
{
    padding:10px;
    width: 980px;
    border-top: 1px solid #333333;
    margin-right:auto;
    margin-left:auto;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
    font-size:10px; 
    color: #333333;
    text-align:center;
}

#notice
{
    width: 700px;
    margin-right:auto;
    margin-left:auto;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
    font-size:11px;
    font-weight:bold; 
    background-color: #f2ff3e;
    color: black;
    text-align:center;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}



#search {   
    margin:0;
    padding:3px 10px;
    width:100%;
    min-height:30px;
    background:#F9F9F9;
    box-shadow: 0px 2px 8px #CCC;
    display:block;
    color:#555;
    font-size: 12px;    
    position:relative;
    margin:35px 0 15px 0;

}
#search ul {
    padding:0;
    margin:0;
}

#search li {
    display:inline-block;
    float: left;
    min-width:70px;
    min-height:20px; 
    text-align:center;
    padding:7px 10px;
    cursor:pointer;
    z-index:1;
    border-right:1px #DDD solid;
    text-transform: capitalize;
}

#search li.selected {

    color:#000;
    font-weight:bold;
    cursor:default;
    z-index:5;
}

#search li.last {

    margin-right:10px;
    float:right;
    border:none;
}

ol, ul {
    list-style: none;
}

none {
}

table.archive  {
    width:100%;
    
}

.archive th {
    font-size:120%;
    padding:10px;
    text-align:center;
}

.archive td {
    padding:5px;
    text-align:center;
}

div.top-title {
    display:inline-block;
    width:70px;
    padding:10px;
    

    background:#FFF;

    color:#111;
    font-size:17px;
}