@import url("sub/header.css");


body {
    /*background: #E4E4E4;*/
    background: url(../resources/body-tail.gif) repeat top center;
    font-family:Helvetica, Verdana;
    font-size:12px;
    height:100%;
    width:100%;
    padding:0;
    margin:0;
}

.bg {
    position:absolute;   
    display:block;
    background: url(../resources/body-light.png) center top no-repeat;
    top:0;
    left:0;
    min-height: 100%;
    width:100%;
    z-index:-1;
}
.main {
    width: 980px;
    padding: 0;
    margin: 0 auto;
    display:block;
    position:relative;
    
}

.main-block {
    margin:0;
    padding:10px;
    width:100%;
    display:block;
    background:#FFF;
    border: 1px solid #EEE;
    font-family:"Trebuchet MS";
    
}

.main-block .main-header {
    font-size:16px;
    padding: 0px 4px 10px 4px;
    line-height:20px;
    font-weight:300;
    display:inline-block; 
}

.main-block .main-text {
    text-transform: uppercase;
    vertical-align: middle;

}

.main-block div.borderdot {
    border: 1px gray dotted;
    margin-bottom:10px
}

.main-block span {
    display:block;
    padding-left:7px;
}

.main-block .main-text img {
    padding-right:5px;
    top:3px;
    position:relative;
}
.main-block table {
    border:none;

}

.main-block td {
    vertical-align: bottom
}

.main-block tr {
    border:none;
}

.submit-button {
    padding: .1em 1em; text-decoration: none; 
}

img 
{  
    border-style: none;
}

#overview-content
{
    display:block;    
    width: 100%;
    position: relative;
    z-index: 1;

} 

.container-bg {

    width:100%;
    min-height:150px;
    /*border-bottom: 1px solid #CBCBCB;
    border-top: 1px solid #CBCBCB;*/

    display:inline-block;

}


.left {

    background:#8EC1DA;
    border-bottom:solid 5px #8EC1DA;

}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.container-header {

    width:100%; 
    height:22px; 
    color:#393D42;
    font-weight:bold;
    font-size: .9em;
    line-height: 1.4615em;
    font-family: Arial;
}

.container-header img {
    position:relative;
    top:3px;
}


.left .container-header {
    background: #8EC1DA; 
    color:#F0F0F0;
}


ul.status-list {
    color:#111;
    text-shadow: 1px 1px 3px #DDD;
    
}

.status-list li{
    padding:5px 5px 5px 25px;
    background-position:  0 5px;
    background-repeat: no-repeat;
}


.status-list li.caution {


    font-weight:bold;
    background-image:url(../resources/icons/caution-icon-small.png);
}
.status-list li.infor {

    background-image:url(../resources/icons/icons_0018_Twitter-T-small.png);
}

.status-list li.question {
    font-style:italic;
    background-image:url(../resources/question-icon-small.png);
}

.status-list li.danger {

    background-image:url(../resources/icons/flame-icon-small.png);
    text-transform: uppercase;
    font-weight:bold;
}

.status-list li.correct {
    font-weight:bold;
    background-image:url(../resources/icons/icons_0045_Check-small.png);

}
.status-list li.wrong {

    background-image:url(../resources/blocked3-icon-small.png);

}



#footer
{
    padding:10px;
    width: 980px;
    border-top: 1px solid #333333;
    margin-right:auto;
    margin-left:auto;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
    font-size:10px; 
    color: #333333;
    text-align:center;
}

#notice
{
    width: 700px;
    margin-right:auto;
    margin-left:auto;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
    font-size:11px;
    font-weight:bold; 
    background-color: #f2ff3e;
    color: black;
    text-align:center;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

table { background:white;
        border:1px solid gray;
        border-collapse:collapse;
        color:#fff;
        font:normal 12px verdana, arial, helvetica, sans-serif;
        margin-left:auto;
        margin-right:auto;
        width:100%;
}

caption { border:1px solid #5C443A;
          color:#5C443A;
          font-weight:bold;
          letter-spacing:20px;
          padding:6px 4px 8px 0px;
          text-align:center;
          text-transform:uppercase;
}
td, th { color:#363636;
         padding:.4em;
}
tr { border:1px dotted gray;
}
thead th, tfoot th { 
    color:#FFFFFF;
    padding:3px 10px 3px 10px;
    text-align:left;
    text-transform:uppercase;
}
tbody td a { color:#363636;
             text-decoration:none;
}
tbody td a:visited { color:gray;

}
tbody td a:hover { text-decoration:underline;
}
tbody th a { color:#363636;
             font-weight:normal;
             text-decoration:none;
}
tbody th a:hover { color:#363636;
}
tbody td+td+td+td a {
    background-position:left center;
    background-repeat:no-repeat;
    color:#03476F;
    padding-left:15px;
}
tbody td+td+td+td a:visited { 
    background-position:left center;
    background-repeat:no-repeat;
}
tbody th, tbody td { text-align:left;
                     vertical-align:top;
}
tfoot td { 
    color:#FFFFFF;
    padding-top:3px;
}
.odd { background:#fff;
}
ol, ul {
    list-style: none;
}

none {
}