@import url("sub/header.css");

@font-face {
    font-family: 'Headland One';
    font-style: normal;
    font-weight: 400;
    src: local('Headland One'), local('HeadlandOne-Regular'), url(http://fonts.gstatic.com/s/headlandone/v3/iGmBeOvQGfq9DSbjJ8jDV3hCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v9/DXI1ORHCpsQm3Vp6mXoaTYraN7vELC11_xip9Rz-hMs.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v9/RjgO7rYTmqiVp7vzi-Q5UT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

* {
    margin: 0;
}

html {
    height:100%
}

body {
    /*background: #E4E4E4;*/
    background: url(../resources/body-tail.gif) repeat top center;
    font-size: 110%;
    font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
    height:100%;
    width:100%;
    padding:0;
    margin:0;
}

.bg {
    position:absolute;   
    display:block;
    background: url(../resources/body-light.png) center top no-repeat;
    top:0;
    left:0;
    min-height: 100%;
    width:100%;
    z-index:-1;
}
.main {
    width: 980px;
    padding: 0;
    margin: 0 auto;
    display:block;
    position:relative;

}

.main-block {
    margin:0;
    padding:10px;
    width:100%;
    display:block;
    background:#FFF;
    border: 1px solid #EEE;
    font-family:"Trebuchet MS";

}

.main-block .main-header {
    font-size:16px;
    padding: 0px 4px 10px 4px;
    line-height:20px;
    font-weight:300;
    display:inline-block; 
}

.main-block .main-text {
    text-transform: uppercase;
    vertical-align: middle;

}

.main-block div.borderdot {
    border: 1px gray dotted;
    margin-bottom:10px
}

.main-block span {

    padding-left:7px;
}

.main-block .main-text img {
    padding-right:5px;

    position:relative;
}
.main-block table {
    border:none;

}

.main-block td {
    vertical-align: middle
}

.main-block tr {
    border:none;
}

.submit-button {
    padding: .1em 1em; text-decoration: none; 
}

img 
{  
    border-style: none;
}

#overview-content
{
    display:block;    
    width: 100%;
    position: relative;
    z-index: 1;

} 

.container-bg {

    width:100%;
    min-height:150px;
    /*border-bottom: 1px solid #CBCBCB;
    border-top: 1px solid #CBCBCB;*/

    display:inline-block;

}


.left {

    background:#8EC1DA;
    border-bottom:solid 5px #8EC1DA;

}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.container-header {

    width:100%; 
    height:22px; 
    color:#393D42;
    font-weight:bold;
    font-size: .9em;
    line-height: 1.4615em;
    font-family: Arial;
}

.container-header img {
    position:relative;

}


.left .container-header {
    background: #8EC1DA; 
    color:#F0F0F0;
}

ul.tags {
    color:#111;
    display: inline;
    margin:0;
    padding:0;
    font-size:10px;


}

.tags li{
    padding:5px;
    background:#555;
    color:#FFF;
    border-radius:5px;
    display: inline;
    margin:5px 5px 5px 0;
}



ul.status-list {
    color:#111;
    text-shadow: 1px 1px 3px #DDD;

}

.status-list li{
    padding:5px 5px 5px 25px;
    background-position:  0 5px;
    background-repeat: no-repeat;
}


.status-list li.caution {


    font-weight:bold;
    background-image:url(../resources/icons/caution-icon-small.png);
}
.status-list li.infor {

    background-image:url(../resources/icons/icons_0018_Twitter-T-small.png);
}

.status-list li.question {
    font-style:italic;
    background-image:url(../resources/question-icon-small.png);
}

.status-list li.danger {

    background-image:url(../resources/icons/flame-icon-small.png);
    text-transform: uppercase;
    font-weight:bold;
}

.status-list li.correct {
    font-weight:bold;
    background-image:url(../resources/icons/icons_0045_Check-small.png);

}
.status-list li.wrong {

    background-image:url(../resources/blocked3-icon-small.png);

}



#footer
{
    padding:10px;
    width: 980px;
    border-top: 1px solid #333333;
    margin-right:auto;
    margin-left:auto;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
    font-size:10px; 
    color: #333333;
    text-align:center;
}

#notice
{
    width: 700px;
    margin-right:auto;
    margin-left:auto;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
    font-size:11px;
    font-weight:bold; 
    background-color: #f2ff3e;
    color: black;
    text-align:center;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}



#search {   
    margin:0;
    padding:3px 10px;
    width:100%;
    min-height:30px;
    background:#F9F9F9;
    box-shadow: 0px 2px 8px #CCC;
    display:block;
    color:#555;
    font-size: 12px;    
    position:relative;
    margin:35px 0 15px 0;

}
#search ul {
    padding:0;
    margin:0;
}

#search li {
    display:inline-block;
    float: left;
    min-width:70px;
    min-height:20px; 
    text-align:center;
    padding:5px 10px;
    cursor:pointer;
    z-index:1;
    border-right:1px #DDD solid;
    text-transform: capitalize;
}

#search li.selected {

    color:#000;
    font-weight:bold;
    cursor:default;
    z-index:5;
}

#search li.last {

    margin-right:10px;
    float:right;
    border:none;
    position:relative;
    top:-2px;
}

ol, ul {
    list-style: none;
}

none {
}

table.archive  {
    width:100%;

}

.archive th {
    font-size:120%;
    padding:10px;
    text-align:center;
}

.archive td {
    padding:5px;
    text-align:center;
}

div.top-title {
    display:inline-block;
    width:70px;
    padding:10px;

    background:#FFF;

    color:#111;
    font-size:17px;
}

.ui-autocomplete {
    max-height: 320px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 100px;background: url("../resources/ajax-loader_blue.gif") no-repeat center center transparent;
}

.widget-main {
    padding:25px 15px 15px 15px;
}

.widget-input{
    display:inline-block;
    padding:4px;
}


.widget-text
{
    display:block;
    width:40%;
    padding:0px 5px 8px 5px;
    font-size:115%
}

.export-btn{
    font-size:110%;
    text-transform: uppercase
}


.widget-title {
    display: block;
    color: #666;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    padding:7px;
    display:block;
    width:100%;
    height:33px;
    background:#F0F0F0;
}
.query-item {
    padding:5px 5px 5px 25px;
    font-size:120%;
    background: url(../resources/icons/icons_0048_Favorite-small_grey.png) no-repeat 0px 7px;
}


.filter-item {
    padding:5px 5px 5px 25px;
    font-size:120%;
    background: url(../resources/icons/icons_0010_Settings-small_grey.png) no-repeat 3px 10px;
}

.analyze-item {
    padding:5px 5px 5px 25px;
    font-size:120%;
    background: url(../resources/icons/icons_0020_Looking-Glass-small_grey.png) no-repeat 3px 10px;
}

.status-bar {
    
    display:block;
    min-height:30px;
    width:100%;
    border-radius:0px;
    background:#F9F9F9;
    /*background:rgba(28,28,28, .6);*/
    box-shadow: 0px 2px 8px #CCC;
    padding:3px 10px;
    color:#000;
    font-size: 12px;  
    line-height: 22px;    
    margin:25px 0;      
    position:relative;    
}

.status-bar > div {
    padding-left:25px;
}

.status-bar > .warning {
    text-shadow: 1px 1px 3px #DDD;
    font-weight:bold;
}

.status-bar > .danger {
    text-shadow: 1px 1px 3px #DDD;
    font-weight:bold;
    text-transform: uppercase
}


.status-bar > .correct {
    text-shadow: 1px 1px 3px #DDD;
    font-weight:500;
    font-size: 110%;

}

footer {
    width: 100%;

    font-size:11px;
    text-transform: uppercase;

    line-height: 16px;
    letter-spacing: 0;
    color:  #333;
    background: url(../resources/header-pannel-tail.png) top center repeat;
    z-index:100;
    display:block;

}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}
footer, .push {
    height: 60px;
}


.text-bot a {
    color: #383838;
    text-decoration: none;
}
.text-bot a:hover {    
    color: #989898;
}

.text-bot {
    padding:23px 0px;
}
.stat {
    padding-top:7px;
    font-size:13pt;
    font-family: 'Headland One';
}
.stat > .big
{
    font-size:150%;
    
}

.stat > .small
{
    padding:0;
    margin:0;
    font-weight:bold;
    font-size:75%;
    
}

.stat ul, .stat li
{
    display:inline;
    margin:0;
    padding:5px
}



.stat > .smalll
{
    font-size:75%;    
}