/* HEADER */

header {
    width:100%;
    height:62px;
    background-color:#313131;
    border-radius:6px 6px 0 0;
    border-bottom: 1px solid black;
    margin:0;
    padding:0;

}


/* TOP INFO HEADER */

.header-panel-top {
    display:block;
    width:100%;
    height:35px;
    background: #1C1C1C;
    border-bottom: 1px solid #2F2F2F;
}

.header-inner {
    display:block;
    float: right;
    font-size: 11px;
    padding: 4px 0 6px;    
    margin-right: 10px;

}


.info {

    color:#DDD;

    float: left;
    padding-top: 6px;
    font-size: 12px;
    line-height: 20px;

    padding-left:30px;
    background:url(../../resources/twitter-icon3.png) 0px 0px no-repeat;
}

.info .special {
    color:#8EC1DA/*FF5D00;*/

}

.info a {
    color:#EEE;
    text-decoration:none;
}
.info a:hover {
    text-decoration:underline;
}



/* MAIN HEADER */


.header-panel {
    background:url(../../resources/header-bg.gif) repeat top center;
    overflow:hidden;
    height:65px;
    display:block;
    padding: 0;
    margin: 0;
}

.header-main {

    height:100%;
    width: 980px;
    padding: 0;
    margin: 0 auto;
    display:block;


}

.header-title {
    display:block;
    float:left;
    margin-left:-100px;
    background:url(../../resources/yourTwapperKeeperLogo.png) no-repeat 0 0;
    width:415px;
    height:60px;
}

.header-title .title {
    color:#F0F0F0;
    font-weight:normal;
    font-family:"Andika-basic";
    font-size:16px;
    line-height: 22px;
    padding-left:30px;

}

.buttons-pos{
    display:block;
    float:right;
    margin-right:20px;
    height:100%;
    padding: 0;

}

.sf-menu {
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;
}

.sf-menu > li {
    display:block;
    float: left;
    font-size: 15px;
    line-height: 18px;

    position: relative; 
    height:100%;
}

.sf-menu > li > a {
    display: block;
    color:  #FFF;
    position: relative;
    padding: 22px 18px 10px 19px;
    overflow: hidden;    
    text-decoration: none;
    height:100%;
}

.sf-menu > li > a:hover, .sf-menu > li.sfHover > a, .sf-menu > li > a.current {
    color:     #FFF;
    background:#8EC1DA; /*#ED6642;*/
}
